doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Chapel
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet', href='http://summer2014-refactoru-students.herokuapp.com/public/fontello/css/fontello.css')
		link(rel='stylesheet', href='http://localhost:3000/contacts.css')

	body
		block content
		